@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;1,300&display=swap');
@import url('https://fonts.cdnfonts.com/css/graffiti-font');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://allfont.net/allfont.css?fonts=philly-sans');
@import url('https://fonts.cdnfonts.com/css/mg-dalenaf');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    $cor-fundo:rgb(255, 255, 255);
    $cor-primaria: rgb(30, 111, 216);
    $cor-secundaria: rgb(81, 122, 255);

 
body{
    background-color: #e3e3e3;
    scrollbar-color: blue;
    
}
.logo{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Graffiti font', sans-serif;
    font-size: 25px;
}
.categoriaPesquisa{
    width: 100%;
}
.navbar{
    z-index: +1;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    background-color: $cor-primaria;
    height: 90px;
    background: $cor-primaria;
    background: radial-gradient(circle, $cor-primaria 0%, rgb(0, 41, 131) 100%);
    .perfil{
        border-radius: 100px;
       
    }
    .icon{
        margin-right: 10px;
        width: 70px;
        height: 70px;
    }
    img{
     width: 35px;
     height: 35px;
    }
    >a{
        color: rgb(0, 0, 0);
        text-decoration: none;
        padding: 10px;
        border-radius: 10px;
      }
    >ul{
       
        display: flex;   
        justify-content: space-between;
        list-style: none;
        align-items: center;

        >li{
            margin: 5px;
            margin-left: 27px;
            text-align: center;
            display: flex;
            color: white;
           
            input{
                border-radius: 25px;
                height: 40px;
                padding-left: 8px;
                border: 2px solid rgb(32, 32, 32);
                width: 480px;
            }

            img{
                max-width: 50px;
                border-radius: 5px;
            }
        }
    }
    

}
.dropdown {
    position: relative;
    display: block;
    cursor: pointer;
    list-style: none;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    margin-top: 25px;
    background-color: #ffffff;
    min-width: 160px;
    max-width: 960px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    cursor: pointer;
    border-radius: 5px;
    padding: 0px 7px 0px 7px;
    font-family: 'Lato', sans-serif;

    ul a{
            color: rgb(0, 0, 0);
            text-decoration: none;
            border-radius: 10px;
           
            li{
                list-style: none;
                margin-top: 4px;
                margin-bottom: 4px;
         }
    }
    ul li:hover{
        background-color: $cor-primaria;
        transition: 0.6s;
        border-radius: 5px;
        padding: 5px;
        color: rgb(0, 0, 0);
    }
    
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    transition: 0.7s;
    
  }
  .dropdown:hover{
    background-color: rgb(227, 227, 227);
    border-radius: 10px;
    transition: 0.7s;
    padding: 2px;
 
}

.tudo{
    
    height: 520px;
    width: 100%;
    border-radius: 0px;
    overflow: hidden;
    //box-shadow: 0px 50px 40px #00000056;

 

    
}
.navegacao{
    position: absolute;
    bottom: 17%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
   
}

.bar{
    width: 70px;
    height: 17px;
    border: 2px solid #ffffff;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
    box-shadow: 2px 2px 2px rgba(206,89,55,0);
    
}
.bar:hover{
    background-color: $cor-primaria;
}


input[type=radio]{
    display: none;
}

.carrossel{
    display: flex;
    width: 500%;
    height: 100%;

}

.slide {
    width: 20%;
    transition: .6s;
    img{
        width: 100%;
        height: 100%;
    }
}

#radio1:checked ~ .s1{
    margin-left: 0;

}
#radio2:checked ~ .s1{
    margin-left: -20%;
}
#radio3:checked ~ .s1{
    margin-left: -40%;
}
#radio4:checked ~ .s1{
    margin-left: -60%;
}
#radio5:checked ~ .s1{
    margin-left: -80%;
}

.imgsCategorias{
    margin-top: 70px;
    display: flex;
    justify-content: center;

  
}
.imgsCategoriasTxt{
    .myButton {
        img{
            max-width: 30px;
            max-height: 30px;
        }
        text-align: center;
        align-items: center;
        
        box-shadow:inset 0px -3px 7px 0px #29bbff;
        background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
        background-color:#2dabf9;
        border-radius:15px;
        border:1px solid #0b0e07;
        display:flex;
        cursor:pointer;
        color:#000000;
        font-family:Arial;
        font-size:20px;
        padding-right: 10px;
        text-decoration:none;
        text-shadow:0px 1px 0px #263666;
        margin-bottom: 10px;
        margin-top: 10px;
        
    }
    .myButton:hover {
        background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
        background-color:#0688fa;
    }
 
           
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: center;
    font-size: 30px;
    border-bottom: solid 5px $cor-primaria;
    border-radius: 8px;
    margin: 10px;
    text-align: center;
    -webkit-box-shadow: 10px 10px 46px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 46px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 46px 0px rgba(0,0,0,0.75);
    p{
        >img{
            width: 25px;
            height: 25px;
        }
        

    }
    img{
        width: 380px;
        margin: 14px;
        height: 320px;
        border-radius: 10px;
        box-shadow: 2px 2px 2px rgba(206,89,55,0);
        //transition: 0.3s all ease-in-out;
        
    }
    :hover{
       // transform: scale(1.1);
        cursor: pointer;
        transition: 0.3s;
    }
}
.mainCategory{
    margin: 30px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
    .txtCategory{
        color: rgb(0, 0, 0);
        margin-left: 5px;
        margin-top: 10px;
        text-shadow: 2px 1px 0px #7A7A7A;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        font-family: 'Mulish', sans-serif;
    }
    .precoCamisa{
        font-weight: bold;
        font-size: 25px;
        font-style: italic;
        color: rgb(0, 195, 255);
        text-shadow: 2px 1px 0px #7A7A7A;
    }
    
}
.desconto{
    font-size: 20px;
    color: red;
}
.category{
    display: flex;
    flex-direction: column;
    float: left;
    margin: 5px;
    background-color: $cor-fundo;
    border-radius: 10px;
    padding: 7px;
    font-family: 'Lato', sans-serif;
    -webkit-box-shadow: 10px 10px 46px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 46px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 46px 0px rgba(0,0,0,0.75);
    justify-content: center;
    margin-bottom: 50px;
    border-bottom: solid 5px $cor-primaria;
    .alterar{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $cor-secundaria;
        width: 98%;
        border-radius: 5px;
        padding: 5px;
        margin: 3px;
        color: white;
        border: solid 1px black;
        :hover{
            background-color: $cor-primaria;
        }
    }
    .alterar:hover{
        background-color: rgb(0, 144, 98);
        transition: 0.7s;
    }
    .excluir{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $cor-secundaria;
        width: 98%;
        border-radius: 5px;
        padding: 5px;
        margin: 3px;
        color: white;
        border: solid 1px black;
       
    }
    .excluir:hover{
        background-color: rgb(255, 63, 63);
        transition: 0.7s;
    }

    .precoCamisa{
        font-weight: bold;
        font-size: 25px;
        font-style: italic;
        color: rgb(0, 195, 255);
        text-shadow: 2px 1px 0px #7A7A7A;
    }
    
    a{
        text-decoration: none;

       
    }
    p{
        margin-left: 2px;
    }
    >img{

        width: 200px;
        height: 200px;
        border-radius: 5px;

       
    }
   input[type=button]{
    display: flex;
    justify-content: center;
    background-color: $cor-secundaria;
    color: white;
    border-radius: 5px;
    height: 30px;
    width:100%;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    font-style: italic;
   }
}
input[type=button]:hover{
    background-color: $cor-primaria;
    transition: 0.7s;
    color: black;
    font-size: 15px;
    text-transform: uppercase;
   

   
}
.divForm{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-left: 550px;
    margin-right: 550px;
    height: 500px;
    padding: 4px;
    background: rgb(29,0,184);
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(0,0,0,1) 100%);
    border-radius: 50px;
    .formulario{
        background-color: $cor-primaria;
        color: #000000;
        padding: 20px;
        border-radius: 48px;
        display: flex;
        .btnFoto{
            display: flex;
            justify-content: center;
            background-color: $cor-fundo;
            color: rgb(0, 0, 0);
            border-radius: 5px;
            margin-top: 25px;
            height: 35px;
            align-items: center;
            border: solid 2px black;
            margin-bottom: 20px;
            cursor: pointer;
        }
        .btnFoto:hover{
            background-color: $cor-secundaria;
            transition: 0.7s;
            color: black;
            
        }
        p{
                margin: 5px;
            
            input[type=text]{
                border-radius: 5px;
                border: solid 2px black; 
                width: 100%;
                padding: 3px;
                color: black;
            }
            input[type=password]{
                border-radius: 5px;
                border: solid 2px black; 
                width: 100%;
                padding: 3px;
                
            }
            
            input[type=date]{
                border-radius: 5px;
                border: solid 2px black; 
                width: 100%;
                padding: 3px;

            }
            input[type=number]{
                border-radius: 5px;
                border: solid 2px black; 
                width: 100%;
                padding: 3px;

            }
            input[type=submit]{
                width: 100%;
                border-radius: 5px;
                background-color: $cor-fundo;
                color: rgb(255, 255, 255);
                border: solid 2px black; 
                padding: 3px;
                height: 35px;
                cursor: pointer;
                color: black;
                margin-top: 27px;
            }
            input[type=submit]:hover{
                background-color: $cor-secundaria;
                transition: 0.7s;
                color: black;
               
            }
            select{
                border-radius: 5px;
                border: solid 2px black; 
                width: 100%;
                padding: 3px;

            }
            
        }
        input[type=file] {
            display: none;

        }
    }
}
.frete{
    width: 100%;
}

.geralCompra{
    display: flex;
    margin-left: 5%;
    margin-bottom: 200px;
    margin-top: 50px;
    color: rgb(0, 0, 0);
    font-family: 'Mulish', sans-serif;
    .prodCompra{
        >p{

        
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
}
}
  
    .ftpqna{
        display: flex;
        flex-direction: column;
        >img{
            width: 120px;
            height: 120px;
            margin: 5px;
            margin-right: 5px;
            border-radius: 10px;
            border: solid 1px black;

        }
    }
    .precoCompra{
        color: rgb(0, 104, 189);
        font-style: italic;
        margin-top: 50px;
        font-size: 35px;
        text-decoration: dotted;
        margin-bottom: 50px;
        filter: drop-shadow(2px 2px 10px rgb(0, 72, 255));
        
    }
   >img{
    border: solid 1px black;
    margin-right: 50px;
    border-radius: 20px;

   }
   .prodCompra{
    font-family: 'Mulish', sans-serif;
    font-size: 15px;
    
    p{
        margin: 15px;
    }
    a{
        text-decoration: none;
        background-color: $cor-secundaria;
        color: white;
        padding: 10px;
        border-radius: 15px;
        border: solid 2px;
        margin-right: 5px;
        


    }
    a:hover{
        transition: 0.7s;
        background-color: $cor-primaria;
        color: black;
        padding: 11px;

    }
   }
}
.detalhes{
    font-size: 13px;
    color: rgb(0, 0, 0);
    margin-top: 50px;
    align-items: center;
    .icones{
        font-size: 15px;
        font-weight: bold;
        align-items: center;

        img{

            margin-right: 5px;
            max-width: 15px;
            max-height: 15px;
        }
    }
}
.relacionados{
    h1{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    margin-top: -100px;
    display: flex;
    justify-content: center;
    font-family: 'Lato', sans-serif;
}
.login{
    display: flex;
    justify-content: center;
    background-color: $cor-primaria;
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;
    padding: 20px;
    color: rgb(0, 0, 0);
    border: solid 2px black;
    font-family: 'Lato', sans-serif;
    .inputLogin{
        width: 100%;
        input{
            width: 100%;
            margin-top: 10px;
            margin-bottom: 10px;
            border-radius: 10px;
            padding-left: 10px;
            height: 30px;
            border: solid 1px black;
        }
        input[type=file]{
            display: none;
        }
        input[type=submit]{
            cursor: pointer;
            height: 40px;
            background-color: rgb(39, 39, 39);
            border: 2px solid black;
            color: white;
            
        }
        input[type=submit]:hover{
            background-color: rgb(0, 0, 0);
            transition: 0.7s;
        }
    
    }
    .txtLogin{
        margin-right: 20px;
        margin-left: 10px;
        font-size: 20px;
    }
}
.alert{
    font-family: 'Lato', sans-serif;
    margin: 10px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    text-shadow: 2px 1px 0px #7A7A7A;

}
.navbarProd{
    display: flex;
    background-color: $cor-primaria;
    background: radial-gradient(circle, $cor-primaria 0%, rgb(0, 41, 131) 100%);
    justify-content: center;
    font-family: 'Graffiti font', sans-serif;
    .prodLi{
        display: flex;
        justify-content: center;
        list-style: none;
        li{
            display: flex;
            justify-content: center;
            margin-left: 25px;
            margin-bottom: 10px;
            font-size: 15px;
            a{
                list-style: none;
                text-decoration: none;
                color: white;
                border-radius: 2px;
                padding: 5px;
                border-radius: 5px;
                >img{
                    max-width: 60px;
                    height: 30px;
                    margin-left: 15px;
                    margin-right: 15px;
                }
            }
                a:hover{
                    background-color: white;
                    color: #000000;
                    transition: 0.7s;
                }
            
        }
    }
}
*::-webkit-scrollbar {
    width: 15px;
  }
  
  *::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
    
  }
  
  *::-webkit-scrollbar-thumb {
    background: radial-gradient(circle, $cor-primaria 0%, rgb(0, 41, 131) 100%);
    border-radius: 20px;
 
  }
  .col-md-3 {
    position: relative;
    >img{
        border: solid 1px black;
    margin-right: 50px;
    border-radius: 15px;
    width: 550px;
    height: 550px;
    }
}
.col-md-3 .seg {
    visibility: hidden;
    opacity: 0;
    position:absolute;
    top:0;
    left:0;
    transition: 0.5s;
}
.col-md-3:hover .seg {
    visibility: visible;
    opacity: 1;
   
}
.cancelar{
    
       
            text-decoration: none;
            margin-bottom: 40px;
            :hover{
                background-color: rgb(139, 0, 0);
                transition: 0.7s;
        }
        >p{
        background-color: rgb(255, 42, 42);
        color: white;
        padding: 10px;
        border-radius: 15px;
        border: solid 2px;

     
}

}
#img-container{
   display: flex;
   flex-direction: row;
    >img{
        max-width: 70px;
        max-height: 70px;
        border-radius: 5px;
        margin: 5px;
    }

}



footer{
    background-color: #232323;
    padding-top: 60px;
    display: flex;
    justify-content: space-around;
    color: white;
    padding-bottom: 60px;
    position: absolute;

    width: 100%;
    h2{
        margin-bottom: 10px;
    }
    .contato li{
        list-style: none;

    }
    .politicas li{
        list-style: none;
    }

    .pagamento{
        img{
            max-width: 50px;
            max-height: 30px;
        }
    }
}
.tdFooter{
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.txtProdutos{
    display: flex;
    justify-content: center;
    color: #000000;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
.bannerMarca{
    display: flex;
    width: 100%;
    min-height: 250px;
}
.categoriaPerfil{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin-left: 30%;
    margin-right: 30%;
    height: 500px;
    border-radius: 15px;
    border-bottom: solid 5px $cor-primaria;
    -webkit-box-shadow: 10px 10px 46px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 46px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 46px 0px rgba(0,0,0,0.75);
    
    p{
        margin-top: 20px;
    }
    a{
        text-decoration: none;
        color: white;
        background-color:$cor-primaria ;
        padding: 5px;
        border-radius: 10px;
        

    }
    a:hover{
        background-color: $cor-secundaria;
        transition: 0.7s;
        cursor: pointer;
    }
    img{
        border-radius: 150px;
        max-width: 250px;
        max-height: 250px;
    }
}
.alterLogin{
    background-color: #444444;
    position: absolute;
    left: 40%;
    top: 20%;
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-family: 'Lato', sans-serif;
    input[type=file]{
        display: none;
    }
    input[type=submit]{
        display: flex;
        justify-content: center;
        background-color: #48ff3e;
        padding: 5px;
        border-radius: 10px;
        margin: 5px;   
        border: solid 2px black;
        color: rgb(0, 0, 0);
        width: 100%;
        font-family: 'Lato', sans-serif;
        font-size: 20px;
    }
    input[type=submit]:hover{

        cursor: pointer;
        transition: 0.7s;
    }
    label{
        display: flex;
        justify-content: center;
        background-color: $cor-secundaria;
        padding: 5px;
        border-radius: 10px;
        margin: 5px;   
        border: solid 2px black;
        width: 100%;
    }
    label:hover{
        background-color: $cor-primaria;
        cursor: pointer;
        transition: 0.7s;
    }
    input[type=text]{
        padding-left: 2px;
        border-radius: 5px;
        border: none;
        height: 25px;
    }
    input[type=email]{
        padding-left: 2px;
        border-radius: 5px;
        border: none;
        height: 25px;
    }
    input[type=password]{
        margin-top: 10px;
        padding-left: 2px;
        border-radius: 5px;
        border: none;
        height: 25px;
    }
}
.btnFotoLogin{
    background-color: #5468ff;
    padding: 5px;
    display: flex;
    justify-content: center;
    color: white;
    border-radius: 10px;
    border: solid 1px;
    
}
.btnFotoLogin:hover{
    cursor: pointer;
    background-color: #000f82;
    transition: 0.7s;
}